<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Theme Switch</title>
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="light-theme.css" id="theme-link">
</head>
<body>
 	<div class="warpper">
 		<div class="switch">
			<input type="checkbox">
			<script src="theme.js"></script>
		</div>
 		<header>
 			<img src="owl.png" align="left">
 		</header>
	 	<nav>
	 		<ul class="top-menu" align="center">
			<li class="active">HOME</li>
			<li><a href="/aboutus/">ABOUT US</a></li>
			<li><a href="/services/">SERVICES</a></li>
			<button class="button">Click Me!</button>
			</ul>
	 	</nav>	
	</div>
</body>
</html>